<div class = "buttonBox">
	<div class = "fakeButton"><i class = "fa {{ icon }} fa-3x"></i></div>

	<div class = "rightSide">
		<p class = "buttonBoxShortcut">Shortcut: {{ shortcut}}</p>
		<p class = "buttonParagraph">{{ body }}</p>
	</div>
</div>