<script src="client.js"></script>

<div id = "editAll">
	<div id = "grid">
		<!-- painting generated in here -->
		<i class="fa fa-camera-retro"></i>
	</div>

	<div id = "footer">
		<!-- buttons n shit -->
	</div>
</div>

<button id = "inventoryButton">i</button>

<div id = "inventory">
	<div id = "Holder">
		<!-- block list generated in here -->
	</div>
	<div id = "backHolder">
		<button id = "backButton">-></button>
	</div>
</div>