<div id = "editAll">
	<div id = "gridContainer">
		<div id = "grid"></div>
		
		<button id = "inventoryButton" class = "editButton active"><i class = "fa fa-cubes fa-3x"></i></button>

		<button id = "layerButton" class = "editButton"><img></button>

		<div id = "inventory">
			<div id = "holder">
				<!-- block list generated in here -->
			</div>
			<div id = "backHolder">
				<button id = "backButton"><i class = "fa fa-mail-forward fa-3x"></i></button>
			</div>
		</div>

		<div id = "hotbar"></div>
	</div>

	<div id = "footer">
		<button id = "viewButton" class = "footerButton mineButton"><i class="fa fa-image fa-3x"></i></button>
		<button id = "resizeButton" class = "footerButton mineButton"><i class="fa fa-window-restore fa-3x"></i></button>
		<button id = "saveButton" class = "footerButton mineButton"><i class="fa fa-save fa-3x"></i></button>
		<button id = "skyButton" class = "footerButton mineButton"><i class="fa fa-sun-o fa-3x"></i></button>
		<button id = "gridButton" class = "footerButton mineButton"><i class="fa fa-th fa-3x"></i></button>
		<button id = "copyButton" class = "footerButton mineButton"><i class="fa fa-copy fa-3x"></i></button>
	</div>
</div>

<div id = "overlay"></div>

<script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
<script src="/resizeDialog.js"></script>
<script src="/saveDialog.js"></script>
<script src="/client.js"></script>