<div id = "editAll">
	<div id = "gridContainer">
		<div id = "grid"></div>

		<div id = "hotbar"></div>
	</div>

	<div id = "footer">
		<button id = "viewButton" class = "footerButton mineButton"><i class="fa fa-image fa-3x"></i></button>
		<button id = "resizeButton" class = "footerButton mineButton"><i class="fa fa-window-restore fa-3x"></i></button>
		<button id = "saveButton" class = "footerButton mineButton"><i class="fa fa-save fa-3x"></i></button>
	</div>
</div>

<button id = "inventoryButton">i</button>

<div id = "inventory">
	<div id = "Holder">
		<!-- block list generated in here -->
	</div>
	<div id = "backHolder">
		<button id = "backButton">-></button>
	</div>
</div>

<div id = "overlay"></div>

<script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
<script src="/resizeDialog.js"></script>
<script src="/client.js"></script>