<div id = "editAll">
	<div id = "gridContainer">
		<div id = "grid"></div>

		<div id = "hotbar"></div>
	</div>

	<div id = "footer">
		<button id = "viewButton" class = "footerButton"><i class="fa-image fa-lg"></i></button>
	</div>
</div>

<button id = "inventoryButton">i</button>

<div id = "inventory">
	<div id = "Holder">
		<!-- block list generated in here -->
	</div>
	<div id = "backHolder">
		<button id = "backButton">-></button>
	</div>
</div>

<script src="/client.js"></script>