<div class = "galleryItem">
	<a href = "/edit/#{{ data }}">
		<div class = "pictureHolder">
			<img src = "/image/{{ data }}" class = "picture"></img>
		</div>
	</a>

	<div>
		<input class = "itemNameInput">

		<p class = "itemName active">{{ title }}</p>
	</div>

	<button class = "deleteButton mineButton"><i class = "fa fa-trash fa-lg"></i></button>
</div>