<div class = "galleryItem">
	<a href = "/edit/#{{ data }}">
		<div class = "pictureHolder">
			<img src = "/image/{{ data }}"></img>
		</div>

		<p class = "itemName">
			{{ title }}
		</p>
	</a>
	<button class = "deleteButton mineButton"><i class = "fa fa-trash fa-lg"></i></button>
</div>