<div id = "galleryHolder">
	<div id = "gallery"></div>
</div>

<script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
<script src="/galleryItem.js"></script>
<script src="/gallery.js"></script>