<div id = "dialogBack">
	<div class = "saveLayout">
		<p class = "resizeTitle">Save</p>
		<P class = "saveInfo">Give your painting a title</P>
		<input class = "mineInput saveInput">
		<div class = "resizeBottom">
			<div id = "okButton" class = "resizeButton mineButton">Save</div>
			<div id = "cancelButton" class = "resizeButton mineButton">Cancel</div>
		</div>
	</div>
</div>