<!DOCTYPE html>
<html>
    <head>
        <title>Mine Painter</title>

		<link rel="icon" type="image/png" href="/icon.png">

		<link rel="stylesheet" href="/font-awesome-4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="/style.css">
    </head>
    <body>
		<div id = "header">
			<p id = "headerText">Mine Painter</p>

			<div id = "buttonHolder">
				<a href="/gallery">
					<button class = "headerButton {{galleryActive}}">Gallery</button>
				</a>
				<a href="/edit/">
					<button class = "headerButton {{editActive}}">Edit</button>
				</a>
			</div>
		</div>

		<div id = "belowHeader">
			{{{ body }}}
        </div>
    </body>
</html>