:root {
	--color0: rgb(255, 255, 255);
	--color1: rgb(204, 204, 204);
    --color2: rgb(153, 153, 153);
	--color3: rgb(102, 102, 102);
	--color4: rgb(51, 51, 51);
	--color5: rgb(0, 0, 0);

	/* will be set in the js */
	--sky: default;
}

html, body, p, div, button, img, input {
    margin: 0;
    padding: 0;

    width: 100%;
    height: 100%;

    display: block;
    position: relative;
    box-sizing: border-box;

    font-family: Arial, Helvetica, sans-serif;
}

input[type="number"] {
	-webkit-appearance: textfield;
	   -moz-appearance: textfield;
			appearance: textfield;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
-webkit-appearance: none;
}

input:focus {
	outline: none;
}

/* fix links being bad */

a:link {
	text-decoration: none;
}

a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

a:active {
	text-decoration: none;
}

button:focus {
	outline: none;
}

/* general buttons */

.mineButton {
	color: var(--color1);

	background-color: var(--color3);

	border: 5px solid var(--color5);

	cursor: pointer;
}

.mineButton:hover {
	color: var(--color0);
	background-color: var(--color2);
}

.mineButton:active {
	color: var(--color2);
	background-color: var(--color4);
}

.mineInput {
	background-color: var(--color3);

	color: var(--color0);

	box-sizing: border-box;
	border: 5px solid black;

	padding-left: 5px;
	padding-right: 5px;
}

.mineInput:focus {
	border-color: var(--color0);
}

.mineInput:disabled {
	background-color: var(--color4);
	color: var(--color1);
}

.mineInput:invalid {
	color: maroon;
}

/* main page stuff */

#header {
    background-color: var(--color2);

	overflow: hidden;
	
	height: 100px;
}

#belowHeader {
	background-color: var(--color0);

	height: calc(100% - 100px);
}

#headerText {
	color: var(--color5);

    position: absolute;
    left: 20px;

    font-size: 60px;

    line-height: 100px;

    width: fit-content;
}

#buttonHolder {
    position: absolute;
    height: 30px;

    bottom: 0;
}

.headerButton {
    width: fit-content;

    padding-left: 15px;
    padding-right: 15px;

    margin-right: 15px;
    float: right;

    background: none;
    border: none;
    outline: none;

    line-height: 30px;
	font-size: 20px;
	
	cursor: pointer;

	color: var(--color5);
}

.headerButton.current {
    border-bottom: 5px solid var(--color5);
}

.headerButton:hover {
	color: var(--color4);
	background-color: var(--color1);
	border-color: var(--color4);
}

.headerButton:active {
	color: var(--color1);
	background-color: var(--color3);
	border-color: var(--color1);
}

#editAll {
	display: grid;
	grid-template-rows: 1fr 100px;
}

#footer {
    background-color: var(--color1);
}

#grid {
	--scale: 50px;
	--paintingWidth: 8;
	--paintingHeight: 8;

	display: grid;

	width: calc(var(--scale) * var(--paintingWidth));
	height: calc(var(--scale) * var(--paintingHeight));

	/* center div */
	position: absolute;
	top: 50%;
	left: 50%;

	transform: translate(-50%, -50%);

	user-select: none;
	-webkit-user-drag: none;
}

#grid div {
	user-select: none;
	-webkit-user-drag: none;
}

#grid img {
	image-rendering: pixelated;

	user-select: none;
	-webkit-user-drag: none;
}

#grid .gridlines {
	position: absolute;
	top: 0;
	left: 0;

	border: 0.5px solid var(--color5);
}

/* inventory stuff */

#inventory {
	display: none;

	position: absolute;
	left: 0;

	width: 280px;

	grid-template-columns: 1fr;
	grid-template-rows: 1fr 100px;

	background-color: rgba(30, 30, 30, 0.75);
}

#holder {
	overflow-y: scroll;
	overflow-x: hidden;

	padding: 10px;

	display: grid;
	grid-template-columns: 80px 80px 80px;
	column-gap: 10px;
}

#holder::-webkit-scrollbar {
	width: 10px;
}

#holder::-webkit-scrollbar-track {
	background: none;
}

#holder::-webkit-scrollbar-thumb {
	background-color: var(--color4); 
}

#holder > img {
	width: 80px;
	height: 80px;

	image-rendering: pixelated;

	cursor: pointer;

	margin-bottom: 10px;
}

#holder > img:hover {
	filter: brightness(1.5);
}

#holder > img:active {
	filter: brightness(0.75);
}

#inventory.active {
	display: grid;
}

#backButton {
	color: var(--color0);
	text-align: center;

	border: none;

	background: none;
}

#backButton:hover {
	background-color: var(--color3);
}

#backButton:active {
	background-color: var(--color5);
}

#inventoryButton {
	display: none;

	position: absolute;

	left: 10px;
	bottom: 10px;

	width: 80px;
	height: 80px;

	text-align: center;

	background-color: rgba(30, 30, 30, 0.75);
	color: var(--color1);

	border: none;
}

#inventoryButton.active {
	display: block;
}

#inventoryButton.active:hover {
	background-color: rgba(60, 60, 60, 0.75);
	color: var(--color0);
}

#inventoryButton.active:active {
	background-color: rgba(0, 0, 0, 0.75);
	color: var(--color2);
}

/* hotbar stuff */

#hotbar {
	position: absolute;

	height: min-content;
	width: 80px;

	/* center to the right of the screen */
	right: 10px;
	top: 50%;
	transform: translate(0, -50%);

	padding-bottom: 5px;
	
	user-select: none;
	-webkit-user-drag: none;

	background-color: var(--color5);
}

#hotbar > div {
	width: 80px;
	height: 70px;

	user-select: none;
	-webkit-user-drag: none;

	margin-bottom: 5px;

	z-index: 1;
}

#hotbar > .selected {
	z-index: 2;
}

#hotbar > div > img {
	margin: 5px;

	position: absolute;

	width: 70px;
	height: 70px;

	image-rendering: pixelated;

	user-select: none;
	-webkit-user-drag: none;
}

#hotbar > .selected > img {
	box-sizing: content-box;
	border: 5px solid var(--color0);
	outline: 5px solid var(--color5);
	transform: translate(-5px, -5px);
	background-color: var(--color0);
}

.footerButton {
	float: right;

	width: 80px;
	height: 80px;

	margin-right: 10px;
	margin-top: 10px;
}

/* gallery stuff */

#galleryHolder {
	position: absolute;
	top: 0;
}

#gallery {
	--columns: 5;

	width: calc(200px * var(--columns) + 10px * (var(--columns) - 1));
	height: fit-content;

	margin-left: auto;
	margin-right: auto;

	margin-top: 10px;

	display: grid;
	grid-template-columns: repeat(var(--columns), 200px);
	gap: 10px;
}

.galleryItem {
	width: 200px;
	height: 250px;
}

.galleryItem > a {
	display: grid;

	grid-template-columns: 200px;
	grid-template-rows: 200px 50px;
}

.pictureHolder {
	overflow: hidden;
}

.pictureHolder > img {
	position: absolute;
	image-rendering: pixelated;
}

.wideImg {
	width: 100%;
	height: auto;

	top: 50%;
	transform: translateY(-50%);
}

.tallImg {
	height: 100%;
	width: auto;

	left: 50%;
	transform: translateX(-50%);
}

.itemName {
	line-height: 50px;

	font-size: 25px;
	color: var(--color5);
	text-align: center;
	
	overflow: hidden;
}

.deleteButton {
	position: absolute;

	top: 10px;
	right: 10px;

	width: 50px;
	height: 50px;

	opacity: 0;
}

.galleryItem:hover .deleteButton {
	opacity: 1;
}

/* overlay */

#overlay {
	position: fixed;
	z-index: 100;

	top: 0;
	left: 0;

	background-color: rgba(0, 0, 0, 0.85);

	display: none;
}

#overlay.active {
	display: block;
}

#dialogBack {
	width: fit-content;
	height: fit-content;

	box-sizing: content-box;

	border: 5px solid var(--color5);
	background-color: var(--color2);

	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);

	padding: 10px;
}

/* resizing */

.resizeLayout {
	display: grid;

	grid-template-columns: 1fr;
	grid-template-rows: 50px 215px 50px;

	row-gap: 10px;
}

.resizeTitle {
	color: var(--color5);

	line-height: 50px;
	font-size: 40px;

	text-align: left;
}

.resizeMain {
	display: grid;

	grid-template-columns: 215px 430px;
	grid-template-rows: 1fr;

	column-gap: 10px;
}

.arrowGrid {
	display: grid;

	width: 215px;
	height: 215px;

	grid-gap: 5px;
	padding: 5px;

	background-color: var(--color5);

	grid-template-rows: 1fr 1fr 1fr;
	grid-template-columns: 1fr 1fr 1fr;
}

.arrowGrid > button {
	background-color: var(--color2);

	border: none;
}

.arrowGrid > button:hover {
	background-color: var(--color1);
}

.arrowGrid > button.active {
	background-color: var(--color3);
}


.resizeDimensions {
	display: grid;

	grid-template-rows: 1fr 1fr 1fr 1fr;
	grid-template-columns: 1fr;

	row-gap: 5px;

	height: 100%;
}

p.dimensionRow {
	text-align: left;
	color: var(--color5);

	font-size: 40px;
	line-height: 50px;
}

.dimensionLabel {
	display: inline;

	text-align: left;
	color: var(--color4);

	line-height: 50px;

	font-size: 25px;
	vertical-align: bottom;
}

.dimensionInput {
	display: inline;

	width: 75px;
	height: 50px;

	font-size: 25px;
	line-height: 50px;
}

.resizeButton {
	width: 150px;
	float: right;

	text-align: center;

	font-size: 25px;
	line-height: 45px;
}

.resizeButton:last-child {
	margin-right: 10px;
}

/* saving */

.saveLayout {
	display: grid;
	row-gap: 10px;
	grid-template-rows: 50px 50px 50px 50px;

	width: 430px;
}

.saveInfo {
	line-height: 25px;
	font-size: 20px;

	text-align: center;

	color: var(--color5)
}

.saveInfo.bad {
	color: maroon;
}

.saveInput {
	line-height: 50px;
	font-size: 25px;
}